/*Global Body Rules*/
body{
  color: seashell;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  text-align: center;
  opacity: .9;
  margin: 0px;
  padding: 0px;
}

div{
    border: 1px solid white;
}

/*Header Styling Rules */
/*Tags*/
header{
  display: flex;
  position: fixed;
  background-color: inherit;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  z-index: 1;
}

a{
  text-decoration: underline;
  color: inherit;
}

nav{
  text-align: right;
  width: 100%;
  margin-right: 10px;
}
/*Classes*/

/*IDs*/
#logo{
  height: 50px;
  margin-left: 10px;
}

/*Body Styling Rules*/
/*Tags*/

/*Classes*/
.mission{
  display: flex;
  padding-top: 69px;
  margin: auto;
  align-items: center;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
}

/*IDs*/
#missionStatement{
  width: 1200px;
  background-color: black;
}
/*Footer Styling Rules*/
/*Tags*/

/*Classes*/

/*IDs*/
