/*Global Body Rules*/
body{
  color: seashell;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  text-align: center;
  opacity: .9;
  margin: 0px;
  padding: 0px;
}

/*div{
    border: 1px solid white;
}
*/
/*Header Styling Rules */
/*Tags*/
header{
  display: flex;
  position: fixed;
  background-color: inherit;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  z-index: 1;
}

a{
  text-decoration: underline;
  color: inherit;
}

nav{
  text-align: right;
  width: 100%;
  margin-right: 10px;
}
/*Classes*/

/*IDs*/
#logo{
  height: 50px;
  margin-left: 10px;
}

/*Body Styling Rules*/
/*Tags*/

/*Classes*/
.mission{
  display: flex;
  padding-top: 69px;
  margin: auto;
  align-items: center;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
}

.menu{
  display: flex;
  width: 1000px;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu p{
  font-weight: bold;
  margin: 10px 0px;
}

.menuPics{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 300px;
  height: 200px;
  margin: auto 10px;
}

.locations{
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 1200px;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-image: url("../images/img-locations-background.jpg");
}

.locations div{
  width: 300px;
  margin: 15px auto;
  background-color: black;
  margin: auto 20px;
  opacity: 1;
}

.info{
  height: 200px;
}

/*IDs*/
#missionStatement{
  width: 1200px;
  background-color: black;
}

#menuStatement{
  display: block;
  width: 1000px;
  align-items: center;
}

#locationTitle{
  font-weight: bold;
  width: inherit;
  margin: 0px;
}

/*Footer Styling Rules*/
/*Tags*/
footer{
  margin: auto 20px;
  text-align: left;
}
/*Classes*/

/*IDs*/
